<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Database_MainConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\ADMIN\Desktop\Game\Công Nghệ Phần Mềm\Siêu Thị Aeon\Git\HeThongQuanLySieuThiAeon\Trang chủ(Main Page)\Database_Main.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>